{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "overrides": [
        {
            "files": ["lib/rules/*.{js,ts}"],
            "extends": ["plugin:eslint-plugin/rules-recommended"],
            "rules": {
                "eslint-plugin/prefer-message-ids": "off"  // Messages come straight from Komaci.
            }
        }
    ],
    "env": {
        "es6": true,
        "jest": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "strict": ["error", "global"]
    },
    "ignorePatterns": ["test/**/test.js"]
}
